{{> message}}

<a href="/todos/new">Create</a>
<ul>
  {{#each todos}}
  <li>
    <input type="checkbox" disabled {{#if this.isComplete}} checked {{/if}}>
    {{this.name}}
    <a href="/todos/{{this.id}}">details</a>
    <a href="/todos/{{this.id}}/edit">Edit</a>
    <form action="/todos/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">Delete</button>
    </form>
  </li>
  {{/each}}
</ul>

{{!-- Pagination --}}
<form action="/todos" method="GET" style="display: inline;">
  <input type="hidden" name="page" value="{{prev}}">
  <button type="submit">prev</button>
</form>

<form action="/todos" method="GET" style="display: inline;">
  <input type="hidden" name="page" value="{{next}}">
  <button type="submit">next</button>
</form>

<span>current page : {{page}}</span>